{% extends "Default/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

    <section class="py-5 container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Your tracks</h1>

                {% if tracks %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for track in tracks %}
                    <tr>
                        <td><a href="/profile/{{ userKey }}/map/{{ track.key }}" target="_blank" class="list-group-item">{{ track.name }}</a></td>
                        <td>
                            <form action="/profile/{{userKey}}/delete-track" method="post" onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="_csrf" value="{{ csrf }}"/>
                                <input type="hidden" name="track_id" value="{{ track.id }}"/>
                                <input type="submit" value="Delete"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="text-center">No tracks yet!</div>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Upload new track</h1>
                <form class="needs-validation" method="POST" enctype="multipart/form-data" action="/profile/{{ userKey }}/upload-track">
                    <input type="hidden" name="_csrf" value="{{ csrf }}"/>
                    <div class="mb-3">
                        <label for="trackName" class="form-label">Track Name</label>
                        <input class="form-control" name="trackName" type="text" id="trackName" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="trackFile" class="form-label">Only GPX files</label>
                        <input class="form-control" name="trackFile" type="file" id="trackFile" required="required">
                    </div>
                    <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}