{% extends "Default/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Tracks</h3>
                </div>
                <div class="card-body">
                    {% if paginatedTracks.tracks %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 40px">&nbsp;</th>
                            <th style="width: 40px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for track in paginatedTracks.tracks %}
                                <tr>
                                    <td>
                                        {{ track.name }}
                                    </td>
                                    <td>
                                        <a href="/map/{{ track.key }}" target="_blank" class="nav-link" title="Show on map">
                                            <i class="fas fa-solid fa-map"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/track/info/{{track.key}}" class="nav-link" title="Show info">
                                            <i class="fas fa-solid fa-info-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                        <div class="text-center">No tracks yet!</div>
                    {% endif %}
                </div>

                <div class="card-footer clearfix">
                    {{ paginatedTracks.template| raw }}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Upload Track</h3>
                </div>
                <form method="POST" enctype="multipart/form-data" action="/track/upload">
                    <input type="hidden" name="_token" value="{{ _token }}"/>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="trackName">Track Name</label>
                            <input type="text" class="form-control" id="trackName" name="trackName" placeholder="Enter track name" required/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Track File (Only GPX files)</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input name="trackFile" type="file" id="trackFile" class="custom-file-input" required/>
                                    <label class="custom-file-label" for="trackFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>



{% endblock %}