{% extends "Default/base.twig" %}

{% block title %}Track{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Track Info</h3>
                </div>
                <div class="card-body">
                        <p class="lead">{{ trackName }}</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody><tr>
                                    <th style="width:50%">Points</th>
                                    <td>{{ points }}</td>
                                </tr>
                                <tr>
                                    <th>Distance</th>
                                    <td>{{ distance }} Km</td>
                                </tr>
                                <tr>
                                    <th>Elevation</th>
                                    <td>{{ elevation }} m</td>
                                </tr>
                                <tr>
                                    <th>Date</th>
                                    <td>{{ createdAt }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    <div class="row no-print">
                        <div class="col-12">
                            <form action="/track/delete" method="post" onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="_csrf" value="{{ csrf }}"/>
                                <input type="hidden" name="track_key" value="{{ trackKey }}"/>
                                <a href="/profile" class="btn btn-default">
                                    <i class="fas fa-list"></i> Back to List
                                </a>
                                <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#modal-default">
                                    <i class="fas fa-trash"></i> Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Track</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure do you want to delete <b>{{ trackName }}</b> track?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form action="/track/delete" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrf }}"/>
                        <input type="hidden" name="track_key" value="{{ trackKey }}"/>
                        <button type="submit" class="btn btn-danger float-right" style="margin-right: 5px;">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}